@import '../../../../assets/scss/variables';
@import '../../../../assets/scss/buttons';

.app-side-panel {
    position: fixed;
    top: 0;
    left: 100%;
    width: 500px;
    height: 100%;
    transition: .5s;
    color: white;

    &-header {
        position: absolute;
        width: 100%;
        height: 60px;
        padding: 15px;
        background: $panel_color;
    }

    &-container {
        height: 100%;
        padding-top:60px;
        background: $panel_color;
    }

    &__content {
        height: 100%;
        padding: 10px 20px;
        overflow-y: auto;
    }

    &__toggle {
        transition: .7s;
        transform: translateX(-60px);
        display: inline-block;
    }

    &__control {
        margin-right: 5px;
        @include round-btn(30px, 5px);
    }

    &__control-icon {
        font-size: 16px;
    }

    &_opened {
        transform: translateX(-100%);
        .app-side-panel__toggle {
            transform: translateX(0) rotate(0.5turn);
        }
    }
}
