html, body {
  width:      100%;
  height:     100%;
  margin:     0;
  overflow:   hidden;
  background: #053C25;
}

.images {
  display: none;
}


#info table {
  border: 1px solid #FFFFFF;
  margin: 0 0 20px 0;
}