<div class="app-user-controls">
    <table class="table">
        <tr>
            <td><b>W / Up</b></td>
            <td>Move forward</td>
        </tr>
        <tr>
            <td><b>S / Down</b></td>
            <td>Move backward</td>
        </tr>
        <tr>
            <td><b>A / Left</b></td>
            <td>Turn left</td>
        </tr>
        <tr>
            <td><b>D / Right</b></td>
            <td>Turn right</td>
        </tr>
        <tr>
            <td><b>R</b></td>
            <td>Restart</td>
        </tr>
        <tr>
            <td><b>Enter / Space</b></td>
            <td>Fire</td>
        </tr>
    </table>
</div>