<div class="app-info-panel">
  <div class="container-fluid">
    <h2>Tanx ({{ user.name }})</h2>
    <div class="row">
      <div class="col-xs-2">
        <table class="table">
          <tr><td><b>W/Up</b></td><td><i>move forward</i></td></tr>
          <tr><td><b>S/Down</b></td><td><i>move backward</i></td></tr>
          <tr><td><b>A/Left</b></td><td><i>turn left</i></td></tr>
          <tr><td><b>D/Right</b></td><td><i>turn right</i></td></tr>
          <tr><td><b>Enter/Space</b></td><td><i>fire!!</i></td></tr>
        </table>
      </div>
    </div>
  </div>
</div>
