$min-media-lg: 1200px;

$max-media-md: 1119px;
$min-media-md: 998px;

$max-media-sm: 997px;
$min-media-sm: 720px;

$max-media-xs: 719px;
$min-media-xs: 420px;

$max-media-xxs: 419px;
$min-media-xxs: 320px;
