<div class="app-user-statistics">
    <table class="table app-user-statistics__table">
        <thead class="app-user-statistics__thead">
            <tr>
                <th class="app-user-statistics__heading">Username</th>
                <th class="app-user-statistics__heading">Score</th>
                <th class="app-user-statistics__heading">Success /<br/>Total shoots</th>
                <th class="app-user-statistics__heading">Received /<br/>Caused damage</th>
            </tr>
        </thead>
        <tbody class="app-user-statistics__tbody">
            <tr *ngFor="let stat of statistics">
                <td>{{ stat.username }}</td>
                <td>{{ stat.score }}</td>
                <td>{{ stat.successShoots }} / {{ stat.totalShoots }}</td>
                <td>{{ stat.receivedDamage }} / {{ stat.totalDamage }}</td>
            </tr>
        </tbody>
    </table>
    <button type="button"
            class="btn btn-w-m btn-primary"
            (click)="queryData()">
        Update
    </button>
</div>